@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f8fc;
}

input[type="range"]::-webkit-slider-thumb {
  display: none;
}
.rating-1 {
  background: linear-gradient(to right, #f8f8fc 0%, #f8f8fc 100%);
}
.rating-2 {
  background: linear-gradient(
    to right,
    #f45d6f 0%,
    #f45d6f 14%,
    #f8f8fc 14%,
    #f8f8fc 100%
  );
}

.rating-3 {
  background: linear-gradient(
    to right,
    #f45d6f 0%,
    #f45d6f 25%,
    #f8f8fc 25%,
    #f8f8fc 100%
  );
}

.rating-4 {
  background: linear-gradient(
    to right,
    #f45d6f 0%,
    #f45d6f 35%,
    #f8f8fc 35%,
    #f8f8fc 100%
  );
}

.rating-5 {
  background: linear-gradient(
    to right,
    #10b981 0%,
    #10b981 45%,
    #f8f8fc 45%,
    #f8f8fc 100%
  );
}

.rating-6 {
  background: linear-gradient(
    to right,
    #10b981 0%,
    #10b981 55%,
    #f8f8fc 55%,
    #f8f8fc 100%
  );
}

.rating-7 {
  background: linear-gradient(
    to right,
    #10b981 0%,
    #10b981 65%,
    #f8f8fc 65%,
    #f8f8fc 100%
  );
}

.rating-8 {
  background: linear-gradient(
    to right,
    #10b981 0%,
    #10b981 75%,
    #f8f8fc 75%,
    #f8f8fc 100%
  );
}

.rating-9 {
  background: linear-gradient(
    to right,
    #10b981 0%,
    #10b981 86%,
    #f8f8fc 86%,
    #f8f8fc 100%
  );
}

.rating-10 {
  background: linear-gradient(to right, #10b981 0%, #10b981 100%);
}

@media screen and (max-width: 1024px) {
  .rating-2 {
    background: linear-gradient(
      to right,
      #f45d6f 0%,
      #f45d6f 28%,
      #f8f8fc 28%,
      #f8f8fc 100%
    );
  }

  .rating-3 {
    background: linear-gradient(
      to right,
      #10b981 0%,
      #10b981 50%,
      #f8f8fc 50%,
      #f8f8fc 100%
    );
  }

  .rating-4 {
    background: linear-gradient(
      to right,
      #10b981 0%,
      #10b981 72%,
      #f8f8fc 72%,
      #f8f8fc 100%
    );
  }

  .rating-5 {
    background: linear-gradient(to right, #10b981 0%, #10b981 100%);
  }
}
